body {
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    color: #fff;
    background-color: #FFE4B5;
}
#header-nav{
    background-color:#D87093;
    border-radius:0;
    border:0;
}
.navbar-band{
    padding-top:25px;
}
.navbar-brand a:hover,.navbar-brand a:focus{
    text-decoration:none;
}

